/SenecaPy
Seneca/Modules/__pycache__
Seneca/Modules/Data/json/UserKeys.json
Seneca/Modules/Data/MyUserData.txt
Seneca/__pycache__
map.html
*.pyc
Bookmarklets
.vscode
tests
example.py
workspace.code-workspace
Seneca/Modules/Data/json/UserKeys.json
Seneca/Modules/Data/__pycache__/data.cpython-310.pyc

build
dist/SenecaPy-0.0.1.tar.gz
dist/SenecaPy-1.0.1.tar.gz

bin
testing.py
Course.json